*{
  margin: 0px;
  padding: 0px;
}
body {
  background:#3f7c8b;
}
.content-wraper{
 position: relative;
 padding: auto;
 margin: auto;
}
h1,h2{
  font-family:  "Tahoma", Georgia;
  position: relative;
  top: 10px;
  left: 60px;
  text-decoration: underline;
  font-weight: 700;
  color:#bad8df;
  white-space: 4px;
}
h2{
  left:15px;
  text-decoration: none;
}
.div-score-wrap{
  width: 300px;
  height: 70px;
  display: flex;
  border: 2px solid #0993af ;
  position: relative;
  top: 20px;
  left: 30px;
}

.div-score-wrap > div{
  width: 130px;
  height:50px;
  background:#43c182;
  margin: 10px -5px 3px 15px;
}
.div-score-wrap > .comp-div{
  background: #aa2749
}

.output{
  height: 90px;
  width: 140px;
  margin:25px 0px 0 40px;
}
.comp-output{
  float: left;
   background: #aa2749;
}
.player-output{
   background:#43c182;
  position: relative;
  left: 150px;
}
.player-output > h2{
  top: -59px;
}
.comp-output > h2{
  top: 30px;
}
.result{
  width:100px;
  height:40px;
  background:green;
  margin: 80px -40px 0 135px;
}
.select-options{
  position: relative;
  left:40px;
  top:40px;
  width: 290px;
  height: 60px;
  background:;
  display: flex;
}
.select-options > div{
  height: 50px;
  width: 90px;
  margin: 5px 2px 5px 8px;
  background: blue;
  
}
.select-options >.rock{
  margin: auto;
  background:#369e52;
}
.select-options >.paper{
  background:#712828;
  
}
.select-options > .scissors{
  background:#322f92;
}
.ii{
  text-align: center;
  font-family:  "Tahoma", Georgia;
  text-decoration: none;
  font-weight: 600;
  color:#bad8df;
}
.ii > span {
  padding: 90px 0px 4px 0px ;
}
.ii:active{
  font-weight: 900;
  color: black;
}